<div class="hero min-h-screen bg-base-200 rounded-2xl">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      <h1 class="text-5xl font-bold">Lets shorten some links!</h1>
      <p class="py-6">Shortr is a simple link shortening service written in Elixir and Phoenix.</p>
      <%= link "Get started", to: Routes.user_registration_path(@conn, :new), class: "btn btn-primary animate-pulse" %>
    </div>
  </div>
</div>
