<main class="container">
  <p class="alert alert-info shadow-lg" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger shadow-lg" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
